---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Page Not Found" description="The page you are looking for does not exist.">
  <main>
    <section class="lg:min-h-[92svh] flex">
      <div class="container flex flex-col py-20 md:py-40 items-center justify-center gap-6">
        <p class="fluid-6xl sm:fluid-7xl font-heading font-bold">404</p>
        <h1 class="text-4xl sm:fluid-5xl font-heading font-medium normal-case">Oops! Page not found.</h1>
        <p class="text-center mt-4">Sorry, but the page you were looking for could not be found.</p>
        <a href="/">Go back to the homepage</a>
      </div>
    </section>
  </main>
</Layout>
